%
% rebar3 configuration file
%
{minimum_otp_vsn, "17"}.

{erl_opts, [
    debug_info,
    fail_on_warning
]}.

{deps, [
    {hackney, {git, "https://github.com/benoitc/hackney", {tag, "1.6.3"}}},
    % version of jiffy that works with rebar3, from 2016/10/10
    {jiffy,   {git, "https://github.com/davisp/jiffy",    {ref, "a7db724"}}}
]}.
